.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  width: 30rem;
  background-color: tomato;
}

.cell {
  width: 2rem;
  height: 2rem;
  background-color: tomato;
}

.rock {
  background-color: brown;
}

.bedrock {
  background-color: black;
}


.powerup {
  background-color: green;
}

.current-cell {
  background-color: #fff;
}

