.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  width: 30rem;
  background-color: tomato;
}

.cell {
  width: 2rem;
  height: 2rem;
  background-color: tomato;
}

.rock {
  background-color: brown;
}

.bedrock {
  background-color: black;
}

.animation {
  animation: explosion 0.5s 1;
}

@keyframes explosion{
  0% {background-color: inherit}
  50% {background-color: red}
  100% {background-color: inherit}
}

.powerup {
  background-color: green;
}

.current-cell {
  background-color: tomato;
  background-image: url("http://emojipedia-us.s3.amazonaws.com/cache/fa/14/fa14fee1e9ac87bfa3ff7332eff9e8c8.png");
  background-size: cover;
}
