html {
  font-size: 16px;
  font-family: monospace;
  font-weight: 100;
}

body {
  height: 100vh;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bomb {
  background-color: tomato;
  background-image: url("http://emojipedia-us.s3.amazonaws.com/cache/9d/b7/9db738d5b3ad5af1e5beaece66b2b045.png");
  background-size: cover;
}
